.task-5
{
    background-color: #AB2317;
}
.task-4
{
    background-color: #B56913;
}
.task-3
{
    background-color: #8E8A20;
}
.task-2
{
    background-color: #00693A;
}
.task-1
{
    background-color: #034732;
}
.task-completed
{
    background-color: #2D2C29;
}